<div class="product-container">
<% @products.each do |p| %>
    <% array =  p['name'].split() %>
    <% product_line = p['product_line']['name'] %>

    <div class="product_box">
      <div class="product-line <%= product_line.downcase %>">
        <%= 'MYOB ' + product_line %>
      </div>

      <div class='product-name'>
        <div class="region"><%= p['region'] %></div>
        <%= name = array[2, array.length].join(" ") %>
      </div>

      <div class="pricing">
        <span class="price">$<%= p['price']['price_tax_inclusive'] %></span>/<%= p['price']['unit_of_measure'] %>
      </div>

      <div class="link"><%= link_to 'Find out more >', p['more_info_link'] %></div>

      <div class="select-button">
        <button>Select</button>
      </div>
    </div>
<% end %>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(".product-container").hide();
    $(".product-container").fadeIn("slow");
  });
</script>
