<!DOCTYPE html>
<html>
    <head>
      <title>MYOB Products</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">

          <div>
            <%= image_tag 'MYOB.png', class: 'logo'%>
          </div>

          <%= yield %>

          <div class="buttons">
            <div><%= link_to 'All Products',  root_path %></div>
            <div><%= link_to 'Australia Products', au_products_path %></div>
            <div><%= link_to 'New Zealand Products', nz_products_path %></div>
          </div>

        </div>
    </body>
</html>
